* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0; 
}

body {
  background-color: rgb(219, 156, 101); 
  margin: 0;
  padding: 0;
 
}

.question, 
.answers {
  background-color: whitesmoke;
  width: 400px;
  margin: 5em auto;
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 2px 3px 7px 2px #00000005;
}

h1 {
  font-family: 'Raleway', sans-serif; 
  padding-bottom: 15px;
}

ol {
  font-family: 'Recursive', sans-serif;
  padding-left: 30px;
}

@media (max-width: 750px) {
  div {
      margin: 0 auto;
      width: auto;
  }
}